.bn-editor {
	background-color: transparent;
}

.bn-container .bn-editor {
	padding: 0;
}

@media screen and (width <= 767px) {
	.bn-side-menu {
		display: none;
	}
}

/* stylelint-disable-next-line selector-class-pattern */
.bn-inline-content:has(> .ProseMirror-trailingBreak:only-child)::before {
	font-style: normal;
	font-size: 15px;
}

@media screen and (width >= 768px) {
	.bn-block-group {
		max-width: 750px;
		margin-left: auto;
		margin-right: calc(50vw - 445px);
	}
}
